@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700;800&display=swap');
@import 'bulma/css/bulma.min.css';
@import 'bulma-o-steps/bulma-steps.min.css';
@import '@cityssm/bulma-sticky-table/bulma-with-sticky-table.min.css';

$white: #ffffff;
$bright-gray: #ECEFF7;
$light-periwinkle: #CBD1E0;
$wild-blue-yonder: #A9B5D6;
$queen-blue: #486091;
$metallic-blue: #324A7B;
$tiffany-blue: #0BBAB4;
$sunglow: #FBCE3E;

* {
  font-family: 'Nunito', sans-serif !important;
}

/* helpers */

.is-bright-gray {
  background-color: $bright-gray;
}

.is-wild-blue-yonder {
  background-color: $wild-blue-yonder;
  color: $metallic-blue  !important;

  &.button {
    border: none;

    &:hover,
    &:focus {
      background-color: $metallic-blue;
      color: $white  !important;
    }
  }
}

.is-light-periwinkle {
  background-color: $light-periwinkle;
}

.is-tiffany-blue {
  background-color: $tiffany-blue  !important;
  color: $white  !important;
}

.is-sunglow {
  background-color: $sunglow  !important;
  color: $metallic-blue  !important;
}

.is-metallic-blue {
  background-color: $metallic-blue;
  color: $white;

  &:hover,
  &:focus {
    color: $white  !important;
  }

  &.button {
    border: none;
  }
}

.has-text-queen-blue {
  color: $queen-blue;
}

.has-text-metallic-blue {
  color: $metallic-blue;
}

.has-text-weight-extra-bold {
  font-weight: 800;
}

.has-radius {
  border-radius: .2rem;
}

.is-gap-1 {
  gap: 10px;
}

/* table */

.table {
  width: max-content;

  th {
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  td,
  th {
    border: 2px solid $light-periwinkle;
    color: $metallic-blue  !important;
  }

  thead th {
    background: $light-periwinkle  !important;

    &:not(:first-child) {
      text-align: center;
    }
  }

  tbody th {
    background: $bright-gray  !important;
  }

}

.table-container {
  background-color: $light-periwinkle;
  border: 2px solid $light-periwinkle;
  border-radius: 5px;
  max-height: 500px !important;
  max-width: fit-content;
}

.checkbox input {
  transform: scale(1.4);
}

.timetable-tag {
  font-size: 15px !important;
  font-weight: 800;
}

/* navbar */

.navbar.is-primary {
  background-color: $queen-blue;
}

.navbar.is-primary .navbar-brand .navbar-link.is-active,
.navbar.is-primary .navbar-brand .navbar-link:focus,
.navbar.is-primary .navbar-brand .navbar-link:hover,
.navbar.is-primary .navbar-brand>a.navbar-item.is-active,
.navbar.is-primary .navbar-brand>a.navbar-item:focus,
.navbar.is-primary .navbar-brand>a.navbar-item:hover {
  background-color: inherit;
}

.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
  background-color: inherit;
  color: inherit;
}

.navbar-item,
.navbar-link {
  color: $white;
}

/* search */

.dropdown {
  button.is-link {
    background-color: $metallic-blue;

    &:hover {
      background-color: $metallic-blue;
    }
  }

  .dropdown-item {
    &:hover {
      background-color: $queen-blue;
      color: $white;
    }
  }
}

.input:active,
.input:focus,
.is-active.input,
.is-active.textarea,
.is-focused.input,
.is-focused.textarea,
.select select.is-active,
.select select.is-focused,
.select select:active,
.select select:focus,
.textarea:active,
.textarea:focus {
  border-color: $metallic-blue;
}

.stop-details {
  border: 2px solid $light-periwinkle;

  .stop-times {
    line-height: 20px;
  }
}

/* main */

.main-text {
  margin-top: 10vh;
  color: $queen-blue;
  font-weight: 700;
  font-size: 1.1rem;

  p {
    margin-top: -0.9rem;
  }
}

/* steps */

.route-preview {
  background-color: $bright-gray;
  margin-top: 1rem;
  padding: 1.5rem 1rem 0;
  border-radius: .3rem;
  color: $metallic-blue;
  font-weight: 600;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
  cursor: pointer;

  &.is-selected {
    background-color: $queen-blue;
    color: $white;

    .steps:not(.is-hollow) .steps-marker:not(.is-hollow) {
      border: 3px solid $wild-blue-yonder;
    }

    .steps-segment::after {
      background-color: $wild-blue-yonder;
    }
  }

  &:hover:not(.is-selected) {
    background-color: $wild-blue-yonder;

    .steps:not(.is-hollow) .steps-marker:not(.is-hollow) {
      border: 3px solid $queen-blue;
    }

    .steps-segment::after {
      background-color: $queen-blue;
    }
  }

  .route-number {
    font-size: 17px;
    color: $metallic-blue;
    font-weight: 800;
    background-color: $sunglow;
    padding: 0 15px;
    border-radius: 40px;
    width: fit-content;
    margin-bottom: 15px;
  }

  .steps-segment {
    margin-left: 75px;

    &::after {
      background-color: $wild-blue-yonder;
      -webkit-transition: background-color 100ms linear;
      -ms-transition: background-color 100ms linear;
      transition: background-color 100ms linear;
    }
  }

  .steps-note {
    position: absolute;
    margin-left: -80px;
    margin-top: -0.4em;

    p {
      width: 65px;
      text-align: right;
    }
  }

  .steps:not(.is-hollow) .steps-marker:not(.is-hollow) {
    background-color: inherit;
    border: 3px solid $wild-blue-yonder;
    -webkit-transition: border-color 100ms linear;
    -ms-transition: border-color 100ms linear;
    transition: border-color 100ms linear;
  }

  .steps.is-vertical .steps-segment:not(:last-child) {
    min-height: 2em;
  }

  .steps.is-super-thin.is-vertical .steps-segment:not(:last-child):after {
    left: calc(.4em - 1.5px);
    width: 3px;
  }
}

.route-trajectory {
  .is-vertical {
    height: inherit;
  }

  .steps.is-thin.is-vertical .steps-segment:not(:last-child):after {
    left: calc(.4em - 1.5px);
    width: 3px;
  }

  .steps:not(.is-hollow) .steps-marker:not(.is-hollow) {
    background-color: inherit;
    border: 3px solid $sunglow;
  }

  .steps-segment {
    cursor: pointer;

    &:hover,
    &-active {
      .steps-marker {
        width: 1.2em;
        height: 1.2em;
        margin-left: -0.2rem;
        margin-top: -0.2rem;
      }

      .steps-content {
        margin-top: -1.4em !important;
      }
    }

    &::after {
      background-color: $sunglow;
    }
  }

  .steps-content p {
    font-weight: 700;
    font-size: 18px;
  }

  .steps.is-vertical .steps-segment:not(:last-child) {
    min-height: 3.5em;
  }
}